/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import url('../src/assets/vendor/css/pages/page-auth.css');

.menu .app-brand.demo {
    height: 64px;
    margin-top: 12px;
  }
  
  .app-brand-logo.demo svg {
    width: 22px;
    height: 38px;
  }
  
  .app-brand-text.demo {
    font-size: 1.75rem;
    letter-spacing: -0.5px;
  }
