<div class="container-xxl flex-grow-1 container-p-y">


  <div class="row g-6 mb-6">
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-start justify-content-between">
            <div class="content-left">
              <span class="text-heading">Session</span>
              <div class="d-flex align-items-center my-1">
                <h4 class="mb-0 me-2">21,459</h4>
                <p class="text-success mb-0">(+29%)</p>
              </div>
              <small class="mb-0">Total Users</small>
            </div>
            <div class="avatar">
              <span class="avatar-initial rounded bg-label-primary">
                <i class="icon-base bx bx-group icon-lg"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-start justify-content-between">
            <div class="content-left">
              <span class="text-heading">Paid Users</span>
              <div class="d-flex align-items-center my-1">
                <h4 class="mb-0 me-2">4,567</h4>
                <p class="text-success mb-0">(+18%)</p>
              </div>
              <small class="mb-0">Last week analytics </small>
            </div>
            <div class="avatar">
              <span class="avatar-initial rounded bg-label-danger">
                <i class="icon-base bx bx-user-plus icon-lg"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-start justify-content-between">
            <div class="content-left">
              <span class="text-heading">Active Users</span>
              <div class="d-flex align-items-center my-1">
                <h4 class="mb-0 me-2">19,860</h4>
                <p class="text-danger mb-0">(-14%)</p>
              </div>
              <small class="mb-0">Last week analytics</small>
            </div>
            <div class="avatar">
              <span class="avatar-initial rounded bg-label-success">
                <i class="icon-base bx bx-user-check icon-lg"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-start justify-content-between">
            <div class="content-left">
              <span class="text-heading">Pending Users</span>
              <div class="d-flex align-items-center my-1">
                <h4 class="mb-0 me-2">237</h4>
                <p class="text-success mb-0">(+42%)</p>
              </div>
              <small class="mb-0">Last week analytics</small>
            </div>
            <div class="avatar">
              <span class="avatar-initial rounded bg-label-warning">
                <i class="icon-base bx bx-user-voice icon-lg"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row g-6 mb-3">
    <!-- Card Border Shadow -->
    <div class="col-lg-3 col-sm-6 mb-3">
      <div class="card card-border-shadow-primary h-100">
        <div class="card-body">
          <div class="d-flex align-items-center mb-2">
            <div class="avatar me-4">
              <span class="avatar-initial rounded bg-label-primary"><i class="icon-base bx bxs-truck icon-lg"></i></span>
            </div>
            <h4 class="mb-0">42</h4>
          </div>
          <p class="mb-2">On route vehicles</p>
          <p class="mb-0">
            <span class="text-heading fw-medium me-2">+18.2%</span>
            <span class="text-body-secondary">than last week</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-3">
      <div class="card card-border-shadow-warning h-100">
        <div class="card-body">
          <div class="d-flex align-items-center mb-2">
            <div class="avatar me-4">
              <span class="avatar-initial rounded bg-label-warning"><i class="icon-base bx bx-error icon-lg"></i></span>
            </div>
            <h4 class="mb-0">8</h4>
          </div>
          <p class="mb-2">Vehicles with errors</p>
          <p class="mb-0">
            <span class="text-heading fw-medium me-2">-8.7%</span>
            <span class="text-body-secondary">than last week</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-3">
      <div class="card card-border-shadow-danger h-100">
        <div class="card-body">
          <div class="d-flex align-items-center mb-2">
            <div class="avatar me-4">
              <span class="avatar-initial rounded bg-label-danger"><i class="icon-base bx bx-git-repo-forked icon-lg"></i></span>
            </div>
            <h4 class="mb-0">27</h4>
          </div>
          <p class="mb-2">Deviated from route</p>
          <p class="mb-0">
            <span class="text-heading fw-medium me-2">+4.3%</span>
            <span class="text-body-secondary">than last week</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-3">
      <div class="card card-border-shadow-info h-100">
        <div class="card-body">
          <div class="d-flex align-items-center mb-2">
            <div class="avatar me-4">
              <span class="avatar-initial rounded bg-label-info"><i class="icon-base bx bx-time-five icon-lg"></i></span>
            </div>
            <h4 class="mb-0">13</h4>
          </div>
          <p class="mb-2">Late vehicles</p>
          <p class="mb-0">
            <span class="text-heading fw-medium me-2">-2.5%</span>
            <span class="text-body-secondary">than last week</span>
          </p>
        </div>
      </div>
    </div>
    <!--/ Card Border Shadow -->

  </div>


  <div class="card">
    <div class="card-header d-flex align-items-center justify-content-between">
      <div class="card-title mb-0">
        <h5 class="m-0 me-2">On route vehicles</h5>
      </div>
      <div class="dropdown">
        <button class="btn add-new btn-primary" type="button" [routerLink]="'/employee/details'">
          <span><i   class="icon-base bx bx-plus me-0 me-sm-1 icon-xs"></i><span class="d-none d-sm-inline-block">Add Product</span></span>
        </button>
      </div>
    </div>
    <div class="card-datatable">
      <table class="dt-route-vehicles table table-sm">
        <thead>
          <tr>
            <th><input class="form-check-input" type="checkbox" aria-label="Select all rows"></th>
            <th>Location</th>
            <th>Starting Route</th>
            <th>Ending Route</th>
            <th>Warnings</th>
            <th>Progress</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehicle of vehicles">
            <td><input class="form-check-input" type="checkbox" aria-label="Select row"></td>
            <td>{{ vehicle.location }}</td>
            <td>{{ vehicle.startingRoute }}</td>
            <td>{{ vehicle.endingRoute }}</td>
            <td>
              <span class="badge rounded" [ngClass]="{
                'bg-label-success': vehicle.warnings === 'No Warnings',
                'bg-label-primary': vehicle.warnings === 'Fuel Problems',
                'bg-label-warning': vehicle.warnings === 'Temperature Not Optimal',
                'bg-label-danger': vehicle.warnings === 'Ecu Not Responding',
                'bg-label-info': vehicle.warnings === 'Oil Leakage'
              }">{{ vehicle.warnings }}</span>
            </td>
            <td>
              <div class="d-flex align-items-center">
                <div class="progress w-100" style="height: 8px;">
                  <div class="progress-bar" role="progressbar" [style.width]="vehicle.progress + '%'"  aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="text-body ms-3">{{ vehicle.progress }}%</div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
