<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register Card -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="index.html" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">

                            </span>
                            <span class="app-brand-text demo text-body fw-bolder">{{appName}}</span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2">Adventure starts here 🚀</h4>
                    <p class="mb-4">Make your app management easy and fun!</p>

                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="mb-3">
                        <!-- Account Type Radio Buttons -->
                        <div class="mb-3">
                            <label class="form-label d-block">Account Type</label>
                            <div class="d-flex align-items-center">
                                <div class="form-check me-3">
                                    <input class="form-check-input" type="radio" formControlName="accountType"
                                        name="accountType" id="individual" value="individual" />
                                    <label class="form-check-label" for="individual">Individual</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" formControlName="accountType"
                                        name="accountType" id="organization" value="organization" />
                                    <label class="form-check-label" for="organization">Organization</label>
                                </div>
                            </div>
                            <div
                                *ngIf="registerForm.controls['accountType'].touched && registerForm.controls['accountType'].errors">
                                <small class="text-danger"
                                    *ngIf="registerForm.controls['accountType'].errors?.['required']">
                                    Please select an account type.
                                </small>
                            </div>
                        </div>

                        <!-- Company Name Field (only shown for Organization) -->
                        <div class="mb-3" *ngIf="registerForm.get('accountType')?.value === 'organization'">
                            <label for="companyName" class="form-label">Company Name</label>
                            <input type="text" class="form-control" id="companyName" formControlName="companyName"
                                placeholder="Enter your company name" />
                            <div
                                *ngIf="registerForm.controls['companyName'].touched && registerForm.controls['companyName'].errors">
                                <small class="text-danger"
                                    *ngIf="registerForm.controls['companyName'].errors?.['required']">
                                    Company name is required.
                                </small>
                            </div>
                        </div>

                        <!-- Email Field -->
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" class="form-control" id="email" formControlName="email"
                                placeholder="Enter your email" />
                            <div
                                *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].errors">
                                <small class="text-danger" *ngIf="registerForm.controls['email'].errors?.['required']">
                                    Email is required.
                                </small>
                                <small class="text-danger" *ngIf="registerForm.controls['email'].errors?.['email']">
                                    Enter a valid email address.
                                </small>
                                <small class="text-danger" *ngIf="registerForm.get('email')?.errors?.['serverError']">
                                    {{ registerForm.get('email')?.errors?.['serverError'] }}
                                </small>
                            </div>
                        </div>

                        <!-- Password Field -->
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" id="password" class="form-control" formControlName="password"
                                placeholder="Enter your password" />
                            <div
                                *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].errors">
                                <small class="text-danger"
                                    *ngIf="registerForm.controls['password'].errors?.['required']">
                                    Password is required.
                                </small>
                                <small class="text-danger"
                                    *ngIf="registerForm.controls['password'].errors?.['minlength']">
                                    Password must be at least 6 characters long.
                                </small>
                            </div>
                        </div>


                        <!-- Terms Checkbox -->
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="terms" formControlName="terms" />
                                <label class="form-check-label" for="terms">
                                    I agree to <a href="javascript:void(0);">privacy policy & terms</a>
                                </label>
                            </div>
                            <div
                                *ngIf="registerForm.controls['terms'].touched && registerForm.controls['terms'].errors">
                                <small class="text-danger" *ngIf="registerForm.controls['terms'].errors?.['required']">
                                    You must agree to the terms.
                                </small>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary d-grid w-100">Sign up</button>
                    </form>


                    <p class="text-center">
                        <span>Already have an account?</span>
                        <a [routerLink]="['/auth/login']">
                            <span>Sign in instead</span>
                        </a>
                    </p>
                </div>
            </div>
            <!-- Register Card -->
        </div>
    </div>
</div>